/*@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap');*/
@import url('https://fontlibrary.org/face/glacial-indifference');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'GlacialIndifferenceRegular';
}

body {
    background-image: url("/img/f4.jpg");
    background-size: 175px;
    background-color: #CECECE;
    background-repeat: repeat;
}


.cuerpo {
    transform: translate(0px,70px);
    width: 90%;
    height: 850px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #FFF;
    flex-flow: wrap;
}

.col-1 {
    width: 100%;
}

.col-2 {
    width: 50%;
}

.col-3 {
    width: 60%;
    height: 85%;
    float: left;
}

.col-4 {
    width: 100%;
    height: 15%;
    z-index: -10;
    float: left;
}

.col-5 {
    width: 33%;
}

.col-6 {
    width: 40%;
    height: 90%;
    float: left;
}

.col-7 {
    width: 60%;
    height: 90%;
    float: left;
}

.col-8 {
    width: 40%;
    height: 85%;
    float: left;
}


.capa {
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}

.ttareas {
    margin: 0 auto;
    text-align: center;
    width: 95%;
    border: 1px solid #092A5B;
}

    .ttareas th, td {
        border: solid #092A5B;
    }

input[type=checkbox] {
    margin: 20px !important;
}

.input {
    display: inline-block;
    width: 400px;
    height: 100px;
    display: inline-block;
    border: none;
    font-size: 16px;
    background-color: #eee;
    padding: 1%;
}

.input2 {
    display: inline-block;
    width: 100px;
    height: 30px;
    display: inline-block;
    border: none;
    font-size: 16px;
    background-color: #eee;
    padding: 1%;
    margin-left: 10%;
    margin-right: 10%;
}

.input3 {
    display: inline-block;
    width: 130px;
    height: 30px;
    display: inline-block;
    border: none;
    font-size: 16px;
    background-color: #eee;
    padding: 1%;
    margin-left: 10%;
    margin-right: 10%;
}

.boton {
    cursor: pointer;
    align-content: center;
    border-radius: 8px;
    color: #ffffff;
    background-color: #092A5B;
    font-size: 10px;
    font-family: Arial,sans-serif;
    font-weight: bold;
    color: white;
    border: 2px;
    width: 200px;
    height: 25px;
}

.boton2 {
    padding: 1%;
    width: 200px;
    height:40px;
    border-radius: 4px;
    background-color: #092A5B;
    color: #fff;
    font-size: 15px;
    margin-top: 1%;
    cursor: pointer;
}

.boton3 {
    padding: 2%;
    width: 200px;
    border-radius: 4px;
    background-color: #092A5B;
    color: #fff;
    font-size: 15px;
    margin-top: 2%;
    cursor: pointer;
}

.padre {
    /* IMPORTANTE */
    text-align: center;
}

.hijo {
    padding: 10px;
    margin: 10px;
    /* IMPORTANTE */
    display: inline-block;
}



/*Estilos para el encabezado*/
.header {
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #092A5B;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

    .container .btn-menu, .logo {
        float: left;
        line-height: 70px;
    }

        .container .btn-menu label {
            color: #fff;
            font-size: 25px;
            cursor: pointer;
        }

        .logo h1 {
            color: #fff;
            font-weight: 400;
            font-size: 22px;
            margin-left: 10px;
        }

    .container .menu {
        float: right;
        line-height: 70px;
    }

        .container .menu a {
            display: inline-block;
            padding: 15px 10px;
            line-height: normal;
            text-decoration: none;
            color: #fff;
            transition: all 0.3s ease;
            border-bottom: 2px solid transparent;
            font-size: 15px;
        }

            .container .menu a:hover {
                border-bottom: 2px solid #c7c7c7;
                padding: 5px 10px;
            }
/*Fin de Estilos para el encabezado*/

/*Menù lateral*/
#btn-menu {
    display: none;
    color: white;
    line-height: 70px;
    cursor: pointer;
}

.container-menu {
    position: absolute;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}

#btn-menu:checked ~ .container-menu {
    opacity: 1;
    visibility: visible;
}

.cont-menu {
    width: 100%;
    max-width: 250px;
    background: #2B342E;
    height: 100vh;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(-100%);
}

#btn-menu:checked ~ .container-menu .cont-menu {
    transform: translateX(0%);
}

.cont-menu nav {
    transform: translateY(15%);
}

    .cont-menu nav a {
        display: block;
        text-decoration: none;
        padding: 20px;
        color: white;
        border-left: 5px solid transparent;
        transition: all 400ms ease;
    }

        .cont-menu nav a:hover {
            border-left: 5px solid #c7c7c7;
            background: #1f1f1f;
        }

.cont-menu label {
    position: absolute;
    right: 5px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}
/*Fin de Menù lateral*/

@media screen and (max-width: 1200px) {
    .col-6 {
        width: 40%;
    }

    .col-7 {
        width: 60%;
    }
}

@media screen and (max-width: 800px) {
    .col-6 {
        width: 40%;
    }

    .col-7 {
        width: 60%;
    }

    .input {
        display: inline-block;
        width: 300px;
        height: 80px;
    }
}

@media screen and (max-width: 720px) {
    .col-8 {
        width: 100%;
        height: 25%
    }

    .col-3 {
        width: 100%;
        height: 60%;
    }

    .input {
        display: inline-block;
        width: 500px;
        height: 120px;
    }

    .enviarjefa {
        padding-left: 20%;
        padding-right: 20%;
    }

    .boton2 {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .col-8 {
        width: 100%;
        height: 25%
    }

    .col-3 {
        width: 100%;
        height: 60%;
    }

    .input {
        display: inline-block;
        width: 300px;
        height: 80px;
    }

    .boton2 {
        width: 100%;
    }

    .enviarjefa {
        padding-left: 20%;
        padding-right: 20%;
    }

    .rol {
        display: none;
    }
}
